{% extends 'server/master.html' %}

{% block page_content %}

    <main>
        <span class="branding__snippet">
            {{ about_text }}
        </span>
        <h1>Каталог</h1>
        <div class="catalog">
           <div>
                <p>
                    <a href="/products/page_1">
                        <img src="/static/img/img_1.png" alt="GEL-KENUN KNIT" title="GEL-KENUN KNIT" width="200">
                    </a><br>
                    <a href="/products/page_1">
                        GEL-KENUN KNIT
                    </a>
                </p>
            </div>
        
            <div>
                <p>
                    <a href="/products/page_2">
                        <img src="/static/img/img_2.png" alt="GEL-SONOMA 3" title="GEL-SONOMA 3" width="200">
                    </a><br>
                    <a href="/products/page_2">
                        GEL-SONOMA 3
                    </a>
                </p>
            </div>

            <div>
                <p>
                    <a href="/products/page_3">
                        <img src="/static/img/img_3.png" alt="GT-2000 6" title="GT-2000 6" width="200">
                    </a><br>
                    <a href="/products/page_3">
                        GT-2000 6
                    </a>
                </p>
            </div>
        </div>
            
    </main>

{% endblock %}