{% extends 'server/master.html' %}

{% block page_content %}

    <main>
        <h1>Напишите нам:</h1>
        <form action="contact.html" class="form_1">
            <fieldset>
                <legend>Форма обратной связи</legend>
                <input type="text" placeholder="Введите Ваше Имя" required="required"><br>
                <input type="email" placeholder="Введите Ваш E-mail" required="required"><br>
                <label for="Team">Выберите тему</label><br>
                <select name="Team" id="" required="required">
                    <option value="">Покупка</option>
                    <option value="">Претензия</option>
                    <option value="">Предложение</option>
                    <option value="">Благодарность</option>
                    <option value="">Прочее</option>
                </select><br>
                <textarea name="Name" id="" cols="30" rows="10" placeholder="Напишите свой текст"></textarea><br>
                <input type="submit" value="Отправить">
            </fieldset>
        </form>
        <h1>Наш адрес:</h1>



		<p>350000, г. Краснодар</p>
		<p>ул. Красная, д. 108, стр. 1, оф. 13</p>
		<iframe src="https://yandex.ru/map-widget/v1/-/CBqGzNWbgD" frameborder="0"></iframe><br>
        <ul class="contacts-list">
            {% for item in contacts %}
            <li>
                <span>
                    {{ item }}
                </span>
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}