<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Catalog_smart_shoes</title>
	<link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <menu>
                <div class="flex-header">
                    <div class="flex_logo"><img src="img/6_Primary_logo_on_color2_291x67.png" alt="logo"></div>
                    <div><a href = "index.html">Главная</a></div>
                    <div><a href = "catalog.html">Каталог</a></div>
                    <div><a href= "contact.html">Контакты</a></div>
                </div>
            </menu>
        </header>

    <main>
        <h1>Каталог</h1>
        <div class="catalog">
           <div>
                <p>
                    <a href="page_1.html">
                        <img src="img/img_1.png" alt="GEL-KENUN KNIT" title="GEL-KENUN KNIT" width="200">
                    </a><br>
                    <a href="page_1.html">
                        GEL-KENUN KNIT
                    </a>
                </p>
            </div>
        
            <div>
                <p>
                    <a href="page_2.html">
                        <img src="img/img_2.png" alt="GEL-SONOMA 3" title="GEL-SONOMA 3" width="200">
                    </a><br>
                    <a href="page_2.html">
                        GEL-SONOMA 3
                    </a>
                </p>
            </div>

            <div>
                <p>
                    <a href="page_3.html">
                        <img src="img/img_3.png" alt="GT-2000 6" title="GT-2000 6" width="200">
                    </a><br>
                    <a href="page_3.html">
                        GT-2000 6
                    </a>
                </p>
            </div>
        </div>
            
    </main>

    <hr>

    <footer>
        <p>&copy; Все права защищены</p>
    </footer>
    </div>
</body>
</html>