<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact_smart_shoes</title>
	<link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <menu>
                <div class="flex-header">
                    <div class="flex_logo"><img src="img/6_Primary_logo_on_color2_291x67.png" alt="logo"></div>
                    <div><a href = "/">Главная</a></div>
					<div><a href = "/catalog/">Каталог</a></div>
					<div><a href= "/contact/">Контакты</a></div>
                </div>
            </menu>
        </header>

    <main>
        <h1>Напишите нам:</h1>
        <form action="contact.html" class="form_1">
            <fieldset>
                <legend>Форма обратной связи</legend>
                <input type="text" placeholder="Введите Ваше Имя" required="required"><br>
                <input type="email" placeholder="Введите Ваш E-mail" required="required"><br>
                <label for="Team">Выберите тему</label><br>
                <select name="Team" id="" required="required">
                    <option value="">Покупка</option>
                    <option value="">Претензия</option>
                    <option value="">Предложение</option>
                    <option value="">Благодарность</option>
                    <option value="">Прочее</option>
                </select><br>
                <textarea name="Name" id="" cols="30" rows="10" placeholder="Напишите свой текст"></textarea><br>
                <input type="submit" value="Отправить">
            </fieldset>
        </form>
        <h1>Наш адрес:</h1>
		<p>350000, г. Краснодар</p>
		<p>ул. Красная, д. 108, стр. 1, оф. 13</p>
		<iframe src="https://yandex.ru/map-widget/v1/-/CBqGzNWbgD" frameborder="0"></iframe><br>
		<p>Телефон: +7 (861) 000-00-00</p>
		<p>E-mail: smart_shoes@net.ru</p>
    </main>

    <hr>

    <footer>
        <p>&copy; Все права защищены</p>
    </footer>
    </div>
</body>
</html>