<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Main_smart_shoes</title>
	<link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<menu>
				<div class="flex-header">
					<div class="flex_logo"><img src="img/6_Primary_logo_on_color2_291x67.png" alt="logo"></div>
            		<div><a href = "/">Главная</a></div>
					<div><a href = "/catalog/">Каталог</a></div>
					<div><a href= "/contact/">Контакты</a></div>
        		</div>
        	</menu>
		</header>

		<hr>
	
		<main>
			<h1>
				Главная страница интернет-магазина <br>
				Smart Shoes
			</h1>

			<p class="hi">
				Вас приветствует команда интернет-магазина Smart Shoes<br>
				Для того, что бы перейти в каталог продукции, нажмите "Каталог" в верхней части страницы (Меню)<br>
				Если Вы хотите связаться с нами, перейдите в меню "Контакты"<br>
			</p>

			<p class="text">
				<span>Приветственное слово:</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vel, commodi laudantium officiis ipsum est aliquid dolore omnis, facilis molestiae dicta ipsam aperiam corporis minima mollitia iusto voluptatibus asperiores nemo.<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, maxime provident suscipit ab! Veritatis blanditiis, nemo aliquid hic excepturi praesentium debitis explicabo temporibus repudiandae minus cum ducimus odit atque laborum!<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id soluta, saepe. Doloremque repudiandae dignissimos perferendis alias quas! Recusandae cupiditate, et vel explicabo distinctio ullam? Possimus natus, numquam neque eligendi assumenda.<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolore, velit voluptas rem eum necessitatibus repellendus minima vel impedit inventore dolor incidunt quod vitae at, cumque est quaerat reiciendis. <br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vitae quia nemo saepe quasi, impedit iusto aut omnis inventore, provident laborum voluptates ab nihil esse voluptas, perferendis molestias commodi. Voluptate?<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed tenetur ut accusantium eum voluptate voluptatum ea tempora nihil. Delectus asperiores fugiat nisi architecto non, quasi laborum inventore iusto modi libero?<br>
			</p>
		</main>

		<hr>

		<footer>
			<p>&copy; Все права защищены</p>
		</footer>
	</div>
</body>
</html>