<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GEL-SONOMA 3</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<menu>
				<div class="flex-header">
					<div class="flex_logo"><img src="img/6_Primary_logo_on_color2_291x67.png" alt="logo"></div>
            		<div class="flex-menu"><a href = "index.html">Главная</a></div>
					<div class="flex-menu"><a href = "catalog.html">Каталог</a></div>
					<div class="flex-menu"><a href= "contact.html">Контакты</a></div>
        		</div>
        	</menu>
		</header>
	
		<hr>

		<main>
			<h2>Спортивная обувь GEL-SONOMA 3, ASICS</h2>
			<div class="flex-page">
				<div class="flex_img">
					<a href="img\img_2.PNG" target="_blank"><img src="img\img_2.PNG" alt="GEL-SONOMA 3" width="300"></a>
				</div>
				<div class="flex-option">
					<h3>Описание товара</h3>
				
					<p id="opisanie">Кроссовки ASICS мужские</p>

					<h3>Характеристики товара</h3>

					<ul>
                        <li>Вид застежки: Шнуровка</li>
                        <li>Материал подкладки обуви: искусственный материал; синтетическая ткань; текстиль</li>
                        <li>Материал подошвы обуви: искусственный материал; резина; ЭВА (этиленвинилацетат)</li>
                        <li>Материал стельки: искусственный материал; текстиль</li>
                        <li>Полнота обуви (EUR): D (4)</li>
                        <li>Сезон: круглогодичный</li>
                        <li>Пол: Мужской</li>
                        <li>Страна бренда: Япония</li>
                        <li>Страна производитель: Индонезия</li>
                        <li>Комплектация: кроссовки</li>
                    </ul>
                    <a href="index.html">Купить</a>
				</div>
			</div>
			<h3>Подробное описание товара</h3>
			<p>Третье поколение кроссовок ASICS GEL-SONOMA 3 для бега по пересеченной местности, обладает высокой износостойкостью. Благодаря новому дизайну верха, кроссовки обеспечивают превосходную посадку и защиту при движении. Они выполнены из лёгкой синтетического материала и воздухопроницаемого сетчатого материала. Светоотражающие вставки 3M. Надежная износостойкая резина AHAR+. ASICS Гель (специальный вид силикона) в носке снижает нагрузку на пятку, колени и позвоночник спортсмена. Trusstic System - литой элемент под центральной частью подошвы, предотвращает скручивание стопы. Вес: 323 гр.</p>
			<hr>
		    <div>
			    <a href="page_1.html"><<< Предыдущий товар</a>
	            <a href="page_3.html">Следующий товар >>></a>
		    </div>
		<hr>    
		</main>

		
		<footer>
			<p>&copy; Все права защищены</p>
		</footer>
	</div>
	

</body>
</html>